// 色彩
$primary-color: #ff8a00;
$success-color: #34c759;
$warning-color: #ff8a00;
$danger-color: #ff3b30;
$info-color: #eee;

// text alpha
$text-color: rgba(0, 0, 0, 0.9);
$text-regular-color: rgba(0, 0, 0, 0.6);
$text-light-color: rgba(0, 0, 0, 0.4);
$text-lighter-color: rgba(0, 0, 0, 0.26);

// main bg
$bg-color: #f7f7fa;

// border gray
$border-gray-color: #dcdcdc;

// grey
$light-grey-color: #eee;
$light-grey-color-1: #f5f5f5;
$light-grey-color-2: #fafafa;

// red
$light-red-color: #ffeae6;

// green
$light-green-color: #e3f9e5;

// blue
$blue-color: #007aff;
$light-blue-color: #e9f3ff;

// orange

$orang-color-1: #f7ba33;
$light-orang-color: #fff5ea;
$light-orang-color-1: #ffe9d0;

// 字體
$font-size-small-s: 11px;
$font-size-small: 12px;
$font-size-base-s: 13px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-title: 20px;
$font-size-large-xl: 22px;
$font-size-xl: 24px;

// 間距
$padding-base: 16px;
$padding-small: 8px;

// 圓角
$border-radius: 4px;
$border-radius-medium: 6px;
$border-radius-large: 8px;
